<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>【Spring Boot】日記の編集</title>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
  crossorigin="anonymous">
</head>
<body class="container mt-3">
  <h1 class="display-5">日記の編集</h1>
  <form th:action="@{/diary/update}" method="post">
    <input type="text" name="updateddiary"
      th:value="${editdiary.bodytext}" class="form-control mb-2">
    <input type="hidden" name="id" th:value="${editdiary.id}" />
    <button type="submit" class="btn btn-primary">更新する</button>
    <br />
    <br />
    <div th:if="${#fields.hasErrors('editDiaryForm.updateddiary')}"
      th:errors="*{editDiaryForm.updateddiary}"
      class="alert alert-danger">投稿エラー</div>
    <a href="/diary/summary">日記一覧に戻る</a>
  </form>
</body>
</html>